<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjFh1vuWTv-2XdMjCWIHpATW1eq_Ec5zQ</string>
	<key>GCM_SENDER_ID</key>
	<string>406665568966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.photo.pushnotification</string>
	<key>PROJECT_ID</key>
	<string>me-photo-pushnotification</string>
	<key>STORAGE_BUCKET</key>
	<string>me-photo-pushnotification.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406665568966:ios:d8a3e272c425c5b0b62dc7</string>
</dict>
</plist>